
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Open Sans", sans-serif;

    
}

.title {
    font-size: 28px;
    font-family:"Open Sans", sans-serif;
    color: #3a3a3a;
}




/*This section is to make the buttons fancy */
ul {
    display: flex;
    list-style-type:none;
    align-items: center;

}

ul li a {
 padding: 0 20px;
 text-decoration: none;
 color:#3a3a3a ;
 display: inline-block;

}

li a::after{
    content: '';
    display:block ;
    height: 4px;
    width: 0;
    background: #c4c4f7;
    transition:all .5s;
}

li a:hover::after{
    width:100%
}

/* end of section */

.top-bar {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex-shrink: 0;
}

.logo {
   display: flex;
   align-items: center;
   justify-content: center;


   
}

.top-list {
    margin-left: auto;
    display: flex;
flex-shrink: 0;
justify-content: center;
align-items: center;
white-space: nowrap;
}

.container{
display: flex;
align-items: center;
justify-content: center;
margin-top: 50px;
}

.video {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    width: 100%;
    height: 50vh; 
    object-fit: cover;
}
    
.first-title {
    position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);          
            color: white;
        font-size: 50px;
        text-align: center;
        

           }
    
    
.presentation {
    background-color: #0000001c;
    display: flex;
    flex-direction: column;
    padding: 80px;
    margin-left: 0px;
    margin-right: 0px;
}

.second-title {
    font-size: 40px;
    color: #3a3a3aca;
    font-weight: bold;
    margin-bottom: 20px;

}
.paragraph {

    display: flex;
    justify-content: flex-start;
   text-align: left;
   color: #3a3a3aca;

}

.container-three{
    margin-top: 40px;
    
}



.title-three {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    color: #3a3a3aca;

}
.blocks {

display: flex;
justify-content:space-evenly;
align-items: center;
margin-top:20px;
}

.block {

font-size: 15px;
width: 200px;
height: 200px;
color: #3a3a3aca;
text-align: center;
}

.titles {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
   
    color: #ff4f4f;
    font-size: 20px;
    font-weight: 900;
    }
.stars {
    display: flex;
justify-content:space-evenly;
align-items: center;
margin-top: 20px;
font-size: 50px;
color: #ff4f4f;
gap: 80px;

}