
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Open Sans", sans-serif;ù

    
}

.title {
    font-size: 28px;
    font-family:"Open Sans", sans-serif;
    color: #3a3a3a;
}




/*This section is to make the buttons fancy */
ul {
    display: flex;
    list-style-type:none;
    align-items: center;

}

ul li a {
 padding: 0 20px;
 text-decoration: none;
 color:#3a3a3a ;
 display: inline-block;

}

li a::after{
    content: '';
    display:block ;
    height: 4px;
    width: 0;
    background: #c4c4f7;
    transition:all .5s;
}

li a:hover::after{
    width:100%
}

/* end of section */

.top-bar {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 200px;
flex-shrink: 0;
}

.logo {
   display: flex;
   align-items: center;
   justify-content: center;
margin-top: 100px;

   
}

.top-list {
    margin-left: auto;
    display: flex;
flex-shrink: 0;
justify-content: center;
align-items: center;
white-space: nowrap;
margin-bottom: 50px;
   
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
}
   
   
    
.first-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 2em;
    display: flex;
    flex-shrink: 1;
    margin-top: 60px;
}
.presentation {
    display: flex;
 
   
    flex-direction: column;
}

.second-title {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight:800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.paragraph {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: -80px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

